<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taha. Dostifam</title>
    <link rel="stylesheet" href="./src/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Jost:wght@200;300;400;500&family=Readex+Pro:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div v-if="this.data">
            <Navbar></Navbar>
            <div id="router-view"> <!-- NOTE Route View -->
                <div id="get_category_articles">
                    <div class="get_category_articles_title" v-if="this.category && this.category.length > 0">
                        <a class="back_button" onclick="window.history.back()">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </a>
                        <h1 class="category_name">Cateogry: {{this.category}}</h1>
                    </div>
                    <show-articles :blog_list="this.articles_list" :show_jumb="false" :style="{paddingTop: '0px'}"></show-articles>
                </div>
            </div> <!-- NOTE Route View -->
        </div>
        <template v-else>
            <div class="splash">
              <div class="center">
                <span class="item"></span>
              </div>
            </div>
        </template>
    </div>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./src/assets/js/markdown.min.js"></script>
    <script src="./src/assets/js/vue.min.js"></script>
    <script src="./src/components/navbar.js"></script>
    <script src="./src/components/show_articles.js"></script>
    <script src="./src/assets/js/axios.min.js"></script>
    <script src="./src/assets/js/scripts.js"></script>
    <script>
        new Vue({
            el: '#app',
            data(){
                return{
                    data: null,
                    articles_list: null,
                    category: window.route_params("category")
                }
            },
            mounted(){ 
                window.fetch_data().then((data) => {
                    this.$set(this.$data, 'data', data)

                    const category = window.route_params("category")
                    if (category == undefined || category.toString().trim().length == 0) {
                        return this.$set(this.$data, 'articles_list', null)
                    }

                    let final_list = []
                    this.$data.data.blog_list.forEach((item, index) => {
                        if (item.categories != undefined && item.categories.length > 0) {
                            if (item.categories.includes(category)) {
                                final_list.push(item)
                            }
                        }
                        if (index === this.$data.data.blog_list.length - 1) {
                            this.$set(this.$data, 'articles_list', final_list)
                        }
                    })
                })
            }
        })
    </script>
</body>
</html>