<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
		Basic
	-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Patrick - vCard / Resume / CV Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="vCard & Resume Template" />
    <meta name="keywords" content="vcard, resposnive, resume, personal, card, cv, cards, portfolio" />
    <meta name="author" content="beshleyua" />

    <!--
		Load Fonts
	-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=cyrillic" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/styles.min.css" />
    <link rel="stylesheet" href="./assets/css/theme-colors/green.css" />

    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="./assets/images/favicons/favicon.ico" />
  </head>

  <body>
    <div id="app" class="page">
      <!--
        Preloader
      -->
      <div class="preloader">
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </div>
        </div>
      </div>

      <!--
        Header
      -->
      <header class="header">
        <!-- logo -->
        <div class="logo">
          <a href="#"><span>D</span></a>
        </div>

        <!-- menu -->
        <div class="top-menu">
          <ul>
            <li class="active">
              <a href="#home-card">
                <span class="icon la la-home"></span>
                <span class="link">Home</span>
              </a>
            </li>
            <li>
              <a href="#about-card">
                <span class="icon la la-user"></span>
                <span class="link">About</span>
              </a>
            </li>
            <li>
              <a href="#works-card">
                <span class="icon la la-eye"></span>
                <span class="link">Portfolio</span>
              </a>
            </li>
            <li>
              <a href="#blog-card">
                <span class="icon la la-newspaper-o"></span>
                <span class="link">Blog</span>
              </a>
            </li>
            <li>
              <a href="#contacts-card">
                <span class="icon la la-envelope"></span>
                <span class="link">Contacts</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- Started socials -->
        <div class="social" v-if="data">
          <a v-for="item in data.social_media" target="_blank" :href="item.href"><span :class="item.icon"></span></a>
        </div>

        <!-- Mobile Menu -->
        <span class="menu-btn">
          <span class="m-line"></span>
        </span>
      </header>

      <!--
        Container
      -->
      <div class="container">
        <!--
          Card - Started
        -->
        <div class="card-inner card-started active" id="home-card">
          <!-- Started Background -->
          <div id="particles-bg" class="slide" style="background-image: url('./assets/images/bg.jpg')"></div>

          <div class="centrize full-width">
            <div class="vertical-center">
              <!-- Started titles -->
              <div class="title"><span>Taha</span> Dostifam</div>
              <div class="subtitle">
                I am
                <div class="typing-title">
                  <p>a <strong>software engineer.</strong></p>
                  <p>a <strong>freelancer.</strong></p>
                  <p>a <strong>blogger.</strong></p>
                </div>
                <span class="typed-title"></span>
              </div>
            </div>
          </div>
        </div>

        <!--
          Card - About
        -->
        <div class="card-inner" id="about-card">
          <div class="row card-container">
            <!--
              Card Wrap
            -->
            <div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>
              <!-- About Image -->
              <div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6" style="background-image: url('./assets/images/profile.jpg')"></div>

              <!--
                Inner Top
              -->
              <div class="content inner-top">
                <div class="row">
                  <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                    <div class="title-bg">About Me</div>
                    <div class="text" v-if="data">
                      <p v-html="data.about_me"></p>
                    </div>
                    <div v-if="data && data.download_cv" class="circle-bts">
                      <a :href="data.download_cv"
                        ><span><i class="icon la la-download"></i>Download CV</span></a
                      >

                      <a v-for="item in data.social_media" :href="item.href"><i :class="item.icon"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <!--
                Services
              -->
              <div class="content services" v-if="data && data.services">
                <div class="row">
                  <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                    <!-- title -->
                    <div class="title"><span>Our</span> Services</div>
                  </div>
                </div>

                <!-- service items -->
                <div class="row service-items">
                  <!-- service item -->
                  <div v-for="item in data.services" class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                    <div class="service-item card-box">
                      <div class="icon"><i :class="item.icon"></i></div>
                      <div class="name">{{item.name}}</div>
                      <p>{{item.desc}}</p>
                    </div>
                  </div>
                  <!-- service item end -->
                </div>
              </div>

              <!--
                Fun Fact
              -->
              <div class="content fuct">
                <div class="row">
                  <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                    <!-- title -->
                    <div class="title"><span>Fun</span> Facts</div>
                  </div>
                </div>

                <!-- fuct items -->
                <div class="row fuct-items">
                  <!-- fuct item -->
                  <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                    <div class="fuct-item card-box">
                      <div class="icon"><i class="la la-headphones"></i></div>
                      <div class="name">+50 Albumes Listened</div>
                    </div>
                  </div>

                  <!-- fuct item -->
                  <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                    <div class="fuct-item card-box">
                      <div class="icon"><i class="la la-book"></i></div>
                      <div class="name">100+ Books Readed</div>
                    </div>
                  </div>

                  <!-- fuct item -->
                  <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                    <div class="fuct-item card-box">
                      <div class="icon"><i class="la la-code"></i></div>
                      <div class="name">100 000 Lines of Code</div>
                    </div>
                  </div>

                  <!-- fuct item -->
                  <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                    <div class="fuct-item card-box">
                      <div class="icon"><i class="la la-bug"></i></div>
                      <div class="name">2000+ Bugs fixed</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--
          Card - Works
        -->
        <div class="card-inner" id="works-card">
          <div class="row card-container">
            <!--
              Card Wrap
            -->
            <div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>
              <!-- Work Image -->
              <div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6" style="background-image: url('./assets/images/profile3.jpg')"></div>

              <!--
                Inner Top
              -->
              <div class="content inner-top">
                <div class="row">
                  <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                    <div class="title-bg">Portfolio</div>
                  </div>
                </div>
              </div>

              <!--
                Works
              -->
              <div class="content works">
                <div class="row">
                  <div class="col col-m-12 col-t-5 col-d-5 col-d-lg-5">
                    <!-- title -->
                    <div class="title"><span>My</span> Portfolio</div>
                  </div>
                  <div class="col col-m-12 col-t-7 col-d-7 col-d-lg-7">
                    <!-- filters -->
                    <div class="filter-menu filter-button-group" v-if="data && data.works">
                      <div class="f_btn active">
                        <label><input type="radio" name="fl_radio" value="grid-item" />All</label>
                      </div>

                      <div v-for="item in data.works.category" class="f_btn">
                        <label><input type="radio" name="fl_radio" :value="item.toString().replace(' ', '_').toLowerCase()" />{{item}}</label>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- work items -->
                <div class="row grid-items" v-if="data && data.works.items">
                  <!-- work item photo -->
                  <div v-for="item in data.works.items" :class="'col col-m-12 col-t-6 col-d-6 col-d-lg-6 grid-item ' + item.category.value">
                    <div class="box-item card-box">
                      <div class="image">
                        <a :href="item.href" class="has-popup-image">
                          <img :src="item.href" alt="" />
                          <span class="info">
                            <span class="icon la la-camera-retro"></span>
                          </span>
                        </a>
                      </div>
                      <div class="desc">
                        <a :href="item.href" class="name has-popup-image">{{item.desc}}</a>
                        <div class="category">{{item.category.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--
          Card - Blog
        -->
        <div class="card-inner" id="blog-card">
          <div class="row card-container">
            <!--
              Card Wrap
            -->
            <div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>
              <!-- Blog Image -->
              <div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6" style="background-image: url('./assets/images/profile4.jpg')"></div>

              <!--
                Inner Top
              -->
              <div class="content inner-top">
                <div class="row">
                  <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                    <div class="title-bg">My Blog</div>
                  </div>
                </div>
              </div>

              <!--
                Blog
              -->
              <div class="content blog">
                <div class="row">
                  <div class="col col-m-12 col-t-5 col-d-5 col-d-lg-5">
                    <!-- title -->
                    <div class="title"><span>My</span> Blog</div>
                  </div>
                  <div class="col col-m-12 col-t-7 col-d-7 col-d-lg-7">
                    <!-- filters -->
                    <div class="all-blog" v-if="data">
                      <a :href="data.blog_url">All Blog</a>
                    </div>
                  </div>
                </div>

                <!-- blog items -->
                <div class="row" v-if="data">
                  <!-- blog item -->
                  <div v-for="item in data.blog" class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                    <div class="box-item card-box">
                      <div class="image">
                        <a :href="item.href">
                          <img :src="item.image" alt="" />
                          <span class="info">
                            <span class="icon la la-newspaper-o"></span>
                          </span>
                        </a>
                      </div>
                      <div class="desc">
                        <a :href="item.href" class="name">{{item.title}}</a>
                        <div class="category">{{item.category}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--
          Card - Contacts
        -->
        <div class="card-inner" id="contacts-card">
          <div class="row card-container">
            <!--
              Card Wrap
            -->
            <div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>
              <div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6" style="background-image: url('./assets/images/profile4.jpg')"></div>

              <!--
                Inner Top
              -->
              <div class="content inner-top">
                <div class="row">
                  <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                    <div class="title-bg">Contacts</div>
                  </div>
                </div>
              </div>

              <!--
                Contacts Info
              -->
              <div class="content contacts-info">
                <div class="row">
                  <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                    <!-- title -->
                    <div class="title"><span>Get</span> in Touch</div>
                  </div>
                </div>

                <!-- contacts items -->
                <div class="row contacts-items" v-if="data">
                  <!-- contacts item -->
                  <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                    <div class="contacts-item card-box">
                      <div class="icon"><i class="la la-map-marker"></i></div>
                      <div class="name">Address</div>
                      <p>{{data.get_in_touch.address}}</p>
                    </div>
                  </div>

                  <!-- contacts item -->
                  <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                    <div class="contacts-item card-box">
                      <div class="icon"><i class="la la-at"></i></div>
                      <div class="name">Email</div>
                      <p>{{data.get_in_touch.email}}</p>
                    </div>
                  </div>

                  <!-- contacts item -->
                  <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                    <div class="contacts-item card-box">
                      <div class="icon"><i class="la la-phone"></i></div>
                      <div class="name">Phone</div>
                      <p></p>{{data.get_in_touch.phone}}</p>
                    </div>
                  </div>

                  <!-- contacts item -->
                  <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                    <div class="contacts-item card-box">
                      <div class="icon"><i class="la la-check-square"></i></div>
                      <div class="name">Freelance</div>
                      <p>Available</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--
          Lines Grid
        -->
        <div class="lines-grid">
          <div class="row">
            <div class="col col-m-12 col-t-6 col-d-4 col-d-lg-3"></div>
            <div class="col col-m-12 col-t-6 col-d-4 col-d-lg-3">
              <div class="lines">
                <div class="line-1"></div>
                <div class="line-2" style="animation-delay: 10s"></div>
              </div>
            </div>
            <div class="col col-m-12 col-t-6 col-d-4 col-d-lg-3">
              <div class="lines">
                <div class="line-1"></div>
              </div>
            </div>
            <div class="col col-m-0 col-t-0 col-d-0 col-d-lg-3">
              <div class="lines">
                <div class="line-1"></div>
                <div class="line-2" style="animation-delay: 0s"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vue -->
    <script src="./assets/js/vue.global.js"></script>

    <script src="./assets/js/scripts.min.js"></script>
    <script src="./assets/js/particles.js"></script>
    <script src="./assets/js/particles-setting.js"></script>
    <script src="./assets/js/runtime.js"></script>

    <!-- bslthemes.com buttons html begin -->
    <div class="bsl-popup" data-theme="patrick" data-category="html">
      <div class="bsl-popup__buttons"></div>
      <div class="bsl-popup__content bsl-popup__content-related">
        <div class="bsl-popup__menu"></div>
        <div class="bsl-popup__tabs">
          <div class="bsl-popup__tab bsl-popup__tab-demo"></div>
          <div class="bsl-popup__tab bsl-popup__tab-all"></div>
          <div class="bsl-popup__tab bsl-popup__tab-related"></div>
          <div class="bsl-popup__tab bsl-popup__tab-version"></div>
        </div>
      </div>
      <div class="bsl-popup__content bsl-popup__content-help"></div>
    </div>
    <!-- bslthemes.com buttons html end -->

    <!-- bslthemes.com buttons assets begin -->
    <link rel="stylesheet" href="./assets/css/btns.css" />
    <script src="./assets/js/btns.js"></script>
    <!-- bslthemes.com buttons assets end -->
  </body>
</html>
