<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taha. Dostifam</title>
    <link rel="stylesheet" href="./src/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Jost:wght@200;300;400;500&family=Readex+Pro:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div v-if="show_article">
            <Navbar></Navbar>
            <div id="router-view"> <!-- NOTE Route View -->
                <template v-if="this.show_article">
                    <div id="ShowArticle" :class="!this.categories ? 'just-content content_side' : ''">
                        <div class="content_side">
                            <h1 class="header">{{this.article_data.header}}</h1>
                            <span class="date">{{this.article_data.date}}</span>
                            <p class="content" v-html="article_content"></p>
                        </div>
                        <div class="side_bar" v-if="this.categories">
                            <div class="categories">
                                <div class="header">Categories</div>
                                <a :href="'/category_articles.html?category=' + name" class="item" v-for="(value, name) in categories" :key="name">
                                   <span class="title">{{name}}</span>
                                   <span class="count">({{value}})</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </template>
                <div id="not_found" v-if="this.not_found">
                    <h1>Article Not Found!</h1>
                    <a to="/blog" class="btn btn-primary">Blog</a>
                </div>
            </div> <!-- NOTE Route View -->
        </div>
        <template v-else>
            <div class="splash">
              <div class="center">
                <span class="item"></span>
              </div>
            </div>
        </template>
    </div>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./src/assets/js/markdown.min.js"></script>
    <script src="./src/assets/js/vue.min.js"></script>
    <script src="./src/components/navbar.js"></script>
    <script src="./src/components/show_articles.js"></script>
    <script src="./src/assets/js/axios.min.js"></script>
    <script src="./src/assets/js/scripts.js"></script>
    <script>
        new Vue({
            el: '#app',
            data(){
                return{
                    data: null,
                    not_found: false,
                    show_article: false,
                    article_content: null,
                    article_data: null,
                    categories: null,
                }
            },
            methods: {
                do_not_found(){
                    this.$set(this.$data, 'not_found', true)
                    this.$set(this.$data, 'show_article', false)
                }
            },
            mounted(){ 
                window.fetch_data().then((data) => {
                    this.$set(this.$data, 'data', data)

                    const slug = window.route_params("slug")
                    if (slug == undefined || slug.toString().trim().length == 0) {
                        return this.do_not_found()
                    }
    
                    let categories = []
                    this.$data.data.blog_list.forEach((item, index) => {
                        if (item.categories != undefined && item.categories.length > 0) {
                            if (item.categories != undefined && item.categories.length > 0) {
                                categories = categories.concat(item.categories);
                            }
                        }
                        if (index === this.$data.data.blog_list.length - 1) {
                            if (categories.length > 0) {
                                let counts = {}
                                categories.forEach(function (x) {
                                    counts[x] = (counts[x] || 0) + 1;
                                });
                                this.$set(this.$data, 'categories', counts)
                            }
                        }
                    });
    
                    axios.get(`/server/blog/${slug}.md`).then((response) => {
                        this.$set(this.$data, 'article_content', markdown.toHTML(response.data))

                        const article = this.$data.data.blog_list.find((item) => {
                            return item.content_file == slug
                        })
                        if (article && article["header"] != undefined) {
                            this.$set(this.$data, 'show_article', true)
                            this.$set(this.$data, 'article_data', article)
                        }
                        else{
                            this.do_not_found()
                        }
                    }).catch(() => {
                        this.do_not_found()
                    })
                })
            }
        })
    </script>
</body>
</html>