#reviews {
    margin-bottom: 50px;
    .review-info-box {
        text-align: center;
        .avatar {
            position: relative;
            left: 50%;
            transform: translate(-50%);
            --size: 150px;
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            margin-bottom: 20px;
        }
        h1 {
            font-size: 23px;
            margin-bottom: 5px;
            color: #fff;
        }
        h2 {
            font-size: 12px;
            color: #dddddd;
            font-weight: 100;
        }
    }
    .review-content-box {
        margin-bottom: 10px;
        .review-content-box-triangle {
            position: absolute;
            font-size: 30px;
            top: -15px;
            left: 50%;
            transform: translate(-50%);
            color: var(--primary-color);
        }
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 20px;
        padding: 20px;
        width: 700px;
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 13px;
        @media screen and (max-width: 900px) {
            & {
                width: 95%;
            }
        }
    }
}
