#about_me_section{
    width: 100%;
    margin-top: 100px;
    padding: 0 150px;
}

#about_me_section #about_me_intro {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 40px;
}

#about_me_section .avatar {
    position: relative;
    left: -10px;
    width: 150px;
    height: 150px;
    flex: 0 0 content;
    overflow: hidden;
    border-radius: 50%;
}

#about_me_section .avatar img{
    width: 100%;
    height: 100%;
}

#about_me_section #about_me_intro_box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#about_me_section #about_me_intro_box div{
    flex: 50%;
}