.btn{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    font-family: Jost;
    &.btn-primary{
        background: $theme_color;
        color: #fff;
    }
    &.btn-icon{
        padding: 0;
        padding-top: 4px;
        --size: 40px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        &.btn-large{
            --size: 60px;
        }
    }
    &.animated-to-top{
        position: relative;
        top: 0;
        transition: box-shadow 0.5s ease-out, top 0.4s ease;
        &:hover{
            top: -4px;
            $color: rgba($theme_color, 0.5);
            box-shadow: 0px 15px 1rem $color;
        }
    }
}

a.btn.btn-icon{
    padding-top: 21px;
}