* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}

.image img {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.image img.loaded {
  opacity: 1;
}

.bg-overlay {
  background-color: #eeeeee;
}

.bg-primary {
  background-color: #f26200;
}

.bg-lighten-primary {
  background-color: #f5ecdb;
}

.text-primary {
  color: #f26200;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'Balsamiq Sans';
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  font-family: Jost;
}

.btn.btn-primary {
  background: #f26200;
  color: #fff;
}

.btn.btn-icon {
  padding: 0;
  padding-top: 4px;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.btn.btn-icon.btn-large {
  --size: 60px;
}

.btn.animated-to-top {
  position: relative;
  top: 0;
  -webkit-transition: top 0.4s ease, -webkit-box-shadow 0.5s ease-out;
  transition: top 0.4s ease, -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, top 0.4s ease;
  transition: box-shadow 0.5s ease-out, top 0.4s ease, -webkit-box-shadow 0.5s ease-out;
}

.btn.animated-to-top:hover {
  top: -4px;
  -webkit-box-shadow: 0px 15px 1rem rgba(242, 98, 0, 0.5);
          box-shadow: 0px 15px 1rem rgba(242, 98, 0, 0.5);
}

a.btn.btn-icon {
  padding-top: 21px;
}

#router-view {
  margin-top: 90px;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 35px;
  background: #f5ecdb;
}

#navbar #brand {
  color: #f26200;
  text-transform: uppercase;
  display: inline-block;
  font-size: 20px;
  padding-top: 3px;
}

#navbar .navbar-nav {
  display: inline-block;
  padding-top: 4px;
}

#navbar .navbar-nav .navbar-item {
  color: #000000b3;
  padding: 8px 12px;
  margin-left: 3px;
}

#navbar .navbar-nav .navbar-item.router-link-exact-active {
  color: #000;
}

.jumbotron {
  padding-top: 90px;
  padding-bottom: 140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jumbotron .header {
  position: relative;
  font-family: Jost;
  font-size: 3.8rem;
  font-weight: 900;
  color: #f26200;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
}

.jumbotron .header ion-icon {
  position: absolute;
  left: -30px;
  top: -15px;
  font-size: 24px;
}

.jumbotron .sub-header {
  font-family: Jost;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  margin-bottom: 80px;
}

@media screen and (max-width: 800px) {
  .jumbotron .header {
    font-size: 8vw;
  }
  .jumbotron .sub-header {
    font-size: 15px;
  }
  .jumbotron {
    padding-bottom: 80px;
  }
}

.white-box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.white-box-flex .white-box {
  width: 100%;
  padding: 30px 0;
}

.white-box-flex .white-box .icon {
  color: #f26200;
  font-size: 55px;
}

.white-box-flex .white-box .header {
  font-family: 'Jost';
  font-weight: 500;
  font-size: 20px;
}

.white-box-flex .white-box .desc {
  font-family: 'Jost';
  font-size: 17px;
  font-weight: 300;
  line-height: 1.7;
}

@media screen and (max-width: 1100px) {
  .white-box-flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media screen and (max-width: 650px) {
  .white-box-flex {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.global-padding {
  padding: 50px;
}

@media screen and (max-width: 650px) {
  .global-padding {
    padding: 35px;
  }
}

@media screen and (max-width: 500px) {
  .global-padding {
    padding: 15px;
  }
}

.section-header {
  width: 100%;
  display: block;
  text-align: left;
  padding: 10px 0;
  font-weight: 500;
  font-family: 'Jost';
  font-size: 2rem;
}

.image-box-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100% / 3 - 10px) calc(100% / 3 - 10px) calc(100% / 3);
      grid-template-columns: calc(100% / 3 - 10px) calc(100% / 3 - 10px) calc(100% / 3);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image-box-grid .image-box {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  width: 100%;
}

.image-box-grid .image-box .image {
  height: 270px;
  overflow: hidden;
}

.image-box-grid .image-box .image, .image-box-grid .image-box .image img {
  width: 100%;
  border-radius: 6px;
}

.image-box-grid .image-box .image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 850px) {
  .image-box-grid .image-box .image {
    height: 370px;
  }
}

@media screen and (max-width: 600px) {
  .image-box-grid .image-box .image {
    height: 320px;
  }
}

@media screen and (max-width: 500px) {
  .image-box-grid .image-box .image {
    height: 280px;
  }
}

@media screen and (max-width: 380px) {
  .image-box-grid .image-box .image {
    height: 230px;
  }
}

.image-box-grid .image-box .desc {
  font-family: Jost;
  font-size: 15px;
  padding: 4px 0;
  color: #000;
}

@media screen and (max-width: 1200px) {
  .image-box-grid {
    -ms-grid-columns: calc(100% / 2 - 10px) calc(100% / 2);
        grid-template-columns: calc(100% / 2 - 10px) calc(100% / 2);
  }
}

@media screen and (max-width: 850px) {
  .image-box-grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.swiper {
  height: 475px;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  border-radius: 50px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #6b6b6bc2;
}

.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f26200;
  width: 20px;
  border-radius: 3px;
}

.box-swiper {
  overflow: hidden;
}

.box-swiper .article-box {
  width: 300px;
}

.article-box .date {
  font-family: Jost;
  font-size: 17px;
  margin: 4px 0;
  display: block;
  color: #000;
}

.article-box .header {
  font-size: 26px;
  font-family: Jost;
  color: #000;
  font-weight: normal;
}

.article-box .cover {
  width: 100%;
  height: 270px;
}

.article-box .cover img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-box .avatar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-box .avatar .image {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.article-box .avatar .image img {
  width: 100%;
  height: 100%;
}

.article-box .avatar .texts {
  padding-left: 10px;
}

.article-box .avatar .texts .author, .article-box .avatar .texts .desc {
  display: block;
  width: 100%;
  color: #000;
  font-size: 14px;
  font-family: 'Jost';
}

#final_text {
  width: 100%;
  display: block;
  padding: 50px;
}

#final_text h4, #final_text h5 {
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 20px;
  font-family: Jost;
}

#final_text h5 {
  font-size: 14px;
  color: #777;
}

#articles_list {
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100% / 3 - 10px) calc(100% / 3 - 10px) calc(100% / 3);
      grid-template-columns: calc(100% / 3 - 10px) calc(100% / 3 - 10px) calc(100% / 3);
  grid-column-gap: 10px;
}

#articles_list .article-box {
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  #articles_list {
    -ms-grid-columns: calc(100% / 2 - 10px) calc(100% / 2);
        grid-template-columns: calc(100% / 2 - 10px) calc(100% / 2);
  }
}

@media screen and (max-width: 800px) {
  #articles_list .article-box .cover {
    height: 230px;
  }
  #articles_list {
    padding: 30px;
  }
}

@media screen and (max-width: 670px) {
  #articles_list {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  #articles_list .article-box .cover {
    height: 280px;
  }
}

@media screen and (max-width: 500px) {
  #articles_list .article-box .cover {
    height: 220px;
  }
}

.footer {
  background-color: #f5ecdb;
  padding: 15px 30px;
  text-align: center;
  color: #757575;
  line-height: 1.7;
  font-size: 17px;
  font-family: Jost;
}

.footer .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

.footer .social_media .item {
  margin: 0 8px;
}

.footer .social_media .item .icon {
  font-size: 20px;
  color: #f26200;
}

#contact_me_section {
  width: 100%;
  display: block;
  padding: 80px;
  font-family: Jost;
}

#contact_me_section .header {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

#contact_me_section .list .item {
  margin-bottom: 10px;
}

#contact_me_section .list .item, #contact_me_section .list .item .value, #contact_me_section .list .item .title {
  width: 100%;
  display: block;
}

#contact_me_section .list .item .title {
  font-size: 19px;
}

#contact_me_section .list .item .value {
  color: #757575;
}

@media screen and (max-width: 900px) {
  #contact_me_section {
    padding: 50px;
  }
}

@media screen and (max-width: 500px) {
  #contact_me_section {
    padding: 30px;
  }
}

.splash {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5ecdb;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.splash .center {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.splash .center .item {
  width: 40px;
  height: 40px;
  display: block;
  border: 2px solid #f26200;
  -webkit-animation-name: splash-item-anim;
          animation-name: splash-item-anim;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes splash-item-anim {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes splash-item-anim {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#ShowArticle {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 1200px;
  margin-top: 55px;
  font-family: Jost;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 300px;
      grid-template-columns: auto 300px;
  grid-column-gap: 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#ShowArticle.just-content {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-column-gap: 0;
}

#ShowArticle .content_side .header {
  font-size: 35px;
}

#ShowArticle .content_side .date {
  color: #777;
  font-size: 16px;
}

#ShowArticle .content_side .content {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  display: block;
}

#ShowArticle .content_side .content p {
  color: #777;
  display: block;
  margin-bottom: 15px;
}

#ShowArticle .side_bar .categories .header {
  font-size: 18px;
  font-weight: 400;
  display: block;
}

#ShowArticle .side_bar .categories .item {
  width: 100%;
  border-bottom: 1px dotted #dee2e6;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f26200;
  font-family: Jost;
}

#ShowArticle .side_bar .categories .item font-s
.title {
  display: inline-block;
}

#ShowArticle .side_bar .categories .item .count {
  display: inline-block;
  margin-left: auto;
  color: #ccc;
}

#not_found {
  width: 100%;
  display: block;
  padding-top: 90px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#not_found h1 {
  font-family: Jost;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 20px;
}

#get_category_articles .get_category_articles_title {
  padding: 0px 50px;
  padding-top: 50px;
}

#get_category_articles .get_category_articles_title .back_button {
  font-size: 25px;
  cursor: pointer;
}

#get_category_articles .get_category_articles_title .category_name {
  font-family: Jost;
  font-weight: 500;
}

#get_category_articles #articles_list {
  padding-top: 20px;
}
/*# sourceMappingURL=styles.css.map */