#header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--border-color);
}

#header .__container__ {
    width: 1100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    #header .__container__{
        width: 900px;
    }
}

#header .navbar{
    
}

#header #brand {
    font-weight: bolder;
    font-size: 35px;
    color: #fdfdfd;
}

#header #brand span{
    color: var(--primary-color);
}

#header .nav-item{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Rubik', 'Vazir';
    text-transform: none;
    margin: 0 5px;
    padding: 12px 18px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease;
    color: #fdfdfd;
}

#header .nav-item:hover,#header .nav-item.nav-item-active{
    color: var(--primary-color);
}

@media screen and (max-width: 1200px) {
    #header .__container__{
        width: 100%;
        padding: 0 20px;
    }

    #header .navbar{
        display: none;
    }

    #header .toggleMobileMenu {
        display: block !important;
    }
}

#header .toggleMobileMenu {
    display: none;

    position: relative;
    padding: 6.5px 10px;
    width: 62px;
    height: 50px;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    overflow: hidden;
}

#header .toggleMobileMenu span{
    position: relative;

    width: 100%;
    height: 2px;
    margin: 5px 0;
    display: block;
    background-color:#fff;
    float: left;
    right: 0;

    transition: 0.3s ease, opacity 0.4s ease;
    transition-duration: 0.4s;
}

#header .toggleMobileMenu.active span:nth-child(2){
    opacity: 0;
    right: -14px;
}

#header .toggleMobileMenu.active span:nth-child(1){
    top: 12px;
    transform: rotate(45deg);
}

#header .toggleMobileMenu.active span:nth-child(3){
    top: -12px;
    transform: rotate(-45deg);
}