---
import HeaderSocial from "./HeaderSocial.astro";
import HeaderLinks from "./HeaderLinks.astro";
---

 <header class="px-2 py-1 border-b border-border">
	<div class="navbar shadow-none">
		<div class="navbar-start md:justify-between">
			<a href="/" class="brand text-2xl md:text-3xl">Taha. <span class="text-primary">D</span></a>
		</div>
		<div class="navbar-center flex-row gap-10 w-max md:flex hidden">
			<HeaderLinks/>
		</div>
		<div class="navbar-end hidden md:inline-flex">
			<HeaderSocial className="btn btn-primary"/>
		</div>

		<!-- Mobile Menu Button -->
		<div class="md:hidden flex items-center gap-7">
			<div class="flex flex-row gap-3">
				<HeaderSocial className="p-0"/>
			</div>

			<label for="mobile-menu-drawer">
				<svg class="w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0,4c0-.55,.45-1,1-1H18c.55,0,1,.45,1,1s-.45,1-1,1H1c-.55,0-1-.45-1-1Zm18,15H1c-.55,0-1,.45-1,1s.45,1,1,1H18c.55,0,1-.45,1-1s-.45-1-1-1Zm5-8H6c-.55,0-1,.45-1,1s.45,1,1,1H23c.55,0,1-.45,1-1s-.45-1-1-1Z"/></svg>
			</label>
		</div>
	</div>
</header>

<input type="checkbox" id="mobile-menu-drawer" class="drawer-toggle" />

<label class="overlay" for="mobile-menu-drawer"></label>

<div class="drawer drawer-right fixed max-w-full">
	<div class="drawer-content pt-10 flex flex-col h-full">
		<div class="flex flex-row justify-between">
			<label for="mobile-menu-drawer" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
		</div>
		<div>
			<h2 class="text-xl font-medium">Create your account</h2>
			<input class="input py-1.5 my-3" placeholder="Type here..." />
		</div>
		<div class="h-full flex flex-row justify-end items-end gap-2">
			<button class="btn btn-ghost">Cancel</button>
			<button class="btn btn-primary">Create</button>
		</div>
	</div>
</div>

<style>
	
</style>
