@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/Rubik.ttf');
}

@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/Vazir/Vazirmatn-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #090a0a;
  --border-color: #1e1f1f;
  --primary-color: #22aec0;
  --primary-shadow: #22aec018;
}

body{
  font-family: 'Rubik', 'Vazir';
  background-color: var(--bg-color);
  overflow-x: hidden;
}

a{
  text-decoration: none;
}


.btn{
  cursor: pointer;
  background-color: #ececec;
  border: none;
  outline: none;
  font-family: 'Rubik', 'Vazir';
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  height: 40px;
  padding: 12px 25px;
  border-radius: 3px;
  transition: 0.35s ease;
  transform: scale(1);
}

.btn.btn-rounded{
  border-radius: 50px;
  padding: 12px 35px;
}

.btn-primary{
  background-color: var(--primary-color);
}
.btn.btn-animate{
  position: relative;
  bottom: 0;
}
.btn.btn-animate:active{
  transform: scale(0.85);
  /* bottom: 5px; */
  /* box-shadow: 0px 0px 20px 0.5rem var(--primary-shadow); */
}

.section-header{
  color: #fff;
  position: relative;
}

.section-header::before{
  position: absolute;
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  background-image: url('./assets/images/dots-bg-light.svg');
  background-repeat: no-repeat;
  top: -15px;
  left: -17px;
}

.progress{
  width: 100%;
}

.progress .progress-bar{
  width: 100%;
  height: 6px;
  border-radius: 50px;
  background-color: #111111;
}

.progress .progress-bar .progress-filled{
  width: 100%;
  height: 6px;
  border-radius: 50px;
  background-color: var(--primary-color);
}

.progress .progress-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #fff;
}

.progress .progress-label span:first-child{
  font-weight: bold;
}

.container{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 1100px;
}

@media screen and (max-width: 1250px) {
  .container{
      width: 900px;
  }    
}

@media screen and (max-width: 950px) {
  .container{
    width: 90%;
  }    
}
