@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/Rubik.ttf');
}

@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/Vazir/Vazirmatn-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #090a0a;
  --border-color: #1e1f1f;
  --primary-color: #22aec0;
  --primary-shadow: #22aec018;
}

body{
  font-family: 'Rubik', 'Vazir';
  background-color: var(--bg-color);
  overflow-x: hidden;
}

a{
  text-decoration: none;
}


.btn{
  cursor: pointer;
  background-color: #ececec;
  border: none;
  outline: none;
  font-family: 'Rubik', 'Vazir';
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  height: 40px;
  padding: 12px 25px;
  border-radius: 3px;
  transition: 0.3s ease;
}

.btn.btn-rounded{
  border-radius: 50px;
  padding: 12px 35px;
}

.btn-primary{
  background-color: var(--primary-color);
}
.btn.btn-animate{
  position: relative;
  bottom: 0;
}
.btn.btn-animate:active{
  bottom: 5px;
  box-shadow: 0px 0px 20px 0.5rem var(--primary-shadow);
}