---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const {description} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={ description || SITE_DESCRIPTION} />
	</head>
	<body class="overflow-hidden">
		<div class="preloader">
			<div class="absolute left-1/2 top-1/2 spinner-circle spinner-primary"></div>
		</div>

		<Header />
        <slot/>
		<Footer />
	</body>
</html>

<script>
	function hidePreloader() {
		const preloaderEl = document.querySelector(".preloader")!;
		console.log(preloaderEl);
		preloaderEl.classList.add("loaded");
		window.document.body.classList.remove("overflow-hidden");

		setTimeout(() => {
			preloaderEl.classList.add("hidden");
		}, 100);
	}

	(window as any).hidePreloader = hidePreloader;

	setTimeout(() => {
		hidePreloader();
	}, 600);
</script>